{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}
{%  block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product-page.css') }}">
{% endblock %}
{% block main %}
   <main role="main">
       <div class="container">
           <div class="row">
               <div class="col-xs-4 item-photo">
                   <img style="max-width:100%;" src="{{ product.productImages().first.name ??  asset('images/default.jpg') }}" />
               </div>
               <div class="col-xs-5" style="border:0px solid gray">
                   <!-- Datos del vendedor y titulo del producto -->
                   <h3>{{ product.title }}</h3>

                   <!-- Precios -->
                   <h6 class="title-price"><small>Price</small></h6>
                   <h3 style="margin-top:0px;">$US {{ product.price }}</h3>


                   <!-- Add to cart -->
                   <div class="section" style="padding-bottom:20px;">

                       <button data-id="{{ product.id }}" class="cart-in btn btn-success btn-sm"><span style="margin-right:20px" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to cart</button>

                   </div>
               </div>

               <div class="col-xs-9 description">
                   <ul class="menu-items">
                       <li class="active">Description</li>

                   </ul>
                   <div style="width:100%;border-top:1px solid silver">
                       <p style="padding:15px;">
                           <small>
                               {{ product.description }}
                           </small>
                       </p>

                   </div>
               </div>
           </div>
       </div>
   </main>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script SRC="{{ asset('js/product-page.js') }}"></script>
{% endblock %}